body {

    font-family: 'Outfit',
        sans-serif;
    font-family: 'Roboto',
        sans-serif;
    background-image: radial-gradient(circle, #5c0067 0%, #00d4ff 100%);


}

.btn {
    color: black;
}